:root {
  --vp-home-hero-name-background: #71bced;
  --vp-home-hero-name-color: transparent;
}

:root.dark img[src$=".svg"] {
  filter: invert(0);
}

:root:not(.dark) img[src$=".svg"] {
  filter: invert(1);
}

img {
  margin: auto;
}
